{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>

    <!-- Add Cash Button -->
    <a href="/add_cash" class="btn btn-success mb-3">Add Cash</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbols</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in database %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] | usd }}</td>
                    <td>{{ (row["shares"] * row["price"]) | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-end"><strong>Total Cash:</strong></td>
                <td>{{ cash | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
